
.book-action-btns {
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  width: 30%;
  height: 36px;
}
.book-action-btns:hover {
  background-color: #1e6dff;
}
.book-action-btns:active {
  background-color: #1e43ff;
}
