<p>book-concrete works!</p>

<div style="width: 80%; margin-left: auto; margin-right: auto; min-width: 500px;">
  <div style="display: flex; flex-direction: row;">
    <div style="max-width: 80%;">
      <div style="height: 300px; width: 400px">
        <img style="max-width: 100%;max-height: 100%;object-fit: contain;width:100%;"
             [src]="this.getImage()">
      </div>

      <div style="display:flex; width:100%;">
        <button class="book-action-btns">Купить</button>
      </div>

      <div>
        <div>
          {{this.book.Name}}
        </div>

        <div>
          {{this.book.Author}}
        </div>
      </div>

      <div style="display: flex; flex-direction: column;">
        <div>
          <span>ID Книги</span>
          <span>{{book.Id}}</span>
        </div>

        <div>
          <span>Издательство</span>
          <span>{{book.Id}}</span>
        </div>


        <div>
          <span>Год Издания</span>
          <span>{{book.PublishingDate}}</span>
        </div>


        <div>
          <span>Количество страниц</span>
          <span>{{book.PagesCount}}</span>
        </div>

        <div>
          <span>Возрастные ограничения</span>
          <span>{{book.AgeLimit}}+</span>
        </div>

      </div>
    </div>
  </div>
</div>
