.app-toolbar-btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  flex-basis: 30px;
  height: 100%;
  font-size: 30px;
  margin-right: 5px;
  border: none;
}
.app-toolbar-btn:hover {
  background-color: #1e74ff;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Toolbar styles
*/
.app-toolbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.simple-toolbar-left-items {
  display: flex;
  flex: 1;
  min-width: fit-content;
  align-items: center;
  flex-basis: 30px;
  justify-content: flex-start;
}

.simple-toolbar-right-items {
  display: flex;
  flex: 1;
  min-width: fit-content;
  margin-right: 5px;
  justify-content: flex-end;
}

.login-item {
  margin-right: 15px;
}
.login-item:hover {
  color: #000000;
}

.margin-item {

}
.margin-item:hover {
  color: #000000;
}

/*
  END Toolbar styles
*/

.content {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row;
  justify-content: center;
}
