<div style="margin-left: auto; margin-right: auto;">
  <div style="width: 100%; background-color: dodgerblue; height: 60px; display: flex; flex-direction: row;">

    <div style="width: 70%; height: 100%; margin-left: auto; margin-right: auto;">
      <button class="app-toolbar-btn" (click)="this.navigateToMain()">Главная</button>
      <button class="app-toolbar-btn" (click)="this.navigateToBooks()">Книги</button>
      <button class="app-toolbar-btn" (click)="this.navigateToAuthor()">Авторы</button>
      <button class="app-toolbar-btn" (click)="this.navigateToPay()">Корзина</button>
    </div>

  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

