<div style="width: 70%; margin-left: auto; margin-right: auto; min-width: 750px; margin-bottom: 35px;">
  <div style="margin-right: 10px; font-size: 42px; font-weight: bold; ">
    Добавленные книги:
  </div>
</div>

<div *ngFor="let book of this.payBooks"
     style="display:flex; flex-direction: row;">

  <img style="width: 150px; max: 150px; margin-bottom: 15px;"
       [src]="this.getImage(this.book.Image)">

  <div style="display: flex; flex-direction: column; width: 350px;">
    <div style="font-size: 16px;">
      {{book.Name}}
    </div>

    <div style="font-size: 12px; color: grey;">
      {{book.Author}}
    </div>

  </div>

  <div class="price">
    {{book.Price}} ₽
  </div>

  <div style="font-size: 26px; margin-left:15px;" (click)="this.deleteBook(book)">
    <mat-icon style="cursor: pointer;">close</mat-icon>
  </div>


</div>


<div style="display:flex; flex-direction: row;">

  <div style="font-size: 32px; font-weight: bold; min-width: 150px;">
    Итого
  </div>

  <div style="width: 350px;">
    <div style="margin-left: 15px;">
      Кол-во книг
    </div>

    <div style="margin-left: 15px;">
      {{this.getBooksCount()}}
    </div>
  </div>

  <div class="price">
    {{this.getBooksPrice()}} ₽
  </div>

  <div style="right: 5px;">
    <button mat-fab color="primary" aria-label="Убрать из корзины" (click)="alert('Функционал с платежными системами не реализован!');">
      <mat-icon>check</mat-icon>
    </button>
  </div>

</div>
