
.i-centered {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.base-panel {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.author-card {
  margin-bottom: 25px;
}

.author-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}

.author-label {
  font-size: 32px;
  margin: 5px;
}
