<div class="base-panel">
  <div class="i-centered"
       style="font-size: 52px; min-height: 52px; font-width: bold;">
    Проект разработали
  </div>

  <div style="display: flex; flex-direction: column;">
    <mat-card *ngFor="let student of this.students"
              class="author-card">
      <mat-card-header>
        <div mat-card-avatar class="author-header-image" style="background-image: {{student.imgUrl}}">
        </div>
        <mat-card-title>{{student.name}}</mat-card-title>
        <mat-card-subtitle>{{student.group}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{student.description}}
        </p>
      </mat-card-content>
    </mat-card>

  </div>

</div>

