<div style="width:100%; height: 100%;">

  <div style="margin-left: auto; margin-right: auto; padding-top: 25px;">
    <div class="i-centered main-header text-color">
      {{this.header}}
    </div>
    <div class="i-centered main-descr text-color" style="font-size: 24px;">
      {{this.description}}
    </div>

    <div class="postproccess"></div>
    <img class="main-image" src="../../assets/TLTBook1.jpg">
  </div>

</div>
