.i-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-color {
  padding-top: 25px;
  color: white !important;
}

.main-header {
  font-size: 82px;
  margin-bottom: 5%;
}

.main-descr {
  margin-bottom: 75%;
}

.postproccess {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000ba;
  z-index: -1;
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}
