
.book-image-inside {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width:100%;
  cursor: pointer;
}

.book-description {
  display: flex;
  flex-direction: column;
  height: 60px;
}
.book-description:hover {
  color: dodgerblue;
  cursor: pointer;
}
.book-description:active {
  color: dodgerblue;
  cursor: pointer;
}

.book-hide-text-with-dots {
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-name {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 233px;
  height: 48px;
  font-size: 16px;
  word-break: break-word;
}

.book-author {
  max-width: 233px;
  font-size: 12px;
  color: #707783;
}

.filter-apply-btn {
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  height: 36px;
}
.filter-apply-btn:hover {
  background-color: #1e6dff;
}
.filter-apply-btn:active {
  background-color: #1e43ff;
}

.book-action-btns {
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  width: 30%;
  height: 36px;
}
.book-action-btns:hover {
  background-color: #1e6dff;
}
.book-action-btns:active {
  background-color: #1e43ff;
}

.centered-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
