<div *ngIf="!this.isBookSelected && this.isNotLoading()">
  <div style="text-align: center; margin-top:35px;">
    <div style="color:grey; font-size: 50px; margin-bottom:25px;">A list of books</div>
  </div>

  <div style="">
    <div class="centered-container" style="width: 75%; min-width: 700px; ">

      <mat-form-field style="width:100%;">
        <mat-label>Название книги</mat-label>
        <input matInput placeholder="Введите название книги" [(ngModel)]="this.selectedName">
      </mat-form-field>

    </div>

    <div class="centered-container" style="width: 75%;">

      <!-- Genre Filter-->
      <mat-form-field appearance="fill" style="margin-right: 15px;">
        <mat-label>Жанр</mat-label>
        <mat-select [(ngModel)]="this.selectedGenre">
          <mat-option *ngFor="let genre of this.bookFilterValues.Genres" [value]="genre.Value">
            {{genre.Text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-right: 15px;">
        <mat-label>Издатель</mat-label>
        <mat-select [(ngModel)]="this.selectedProducer">
          <mat-option *ngFor="let producer of this.bookFilterValues.Producers" [value]="producer">
            {{producer}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-right: 15px;">
        <mat-label>Автор</mat-label>
        <mat-select [(ngModel)]="this.selectedAuthor">
          <mat-option *ngFor="let author of this.bookFilterValues.Authors" [value]="author">
            {{author}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-right: 15px;">
        <mat-label>Год публикации</mat-label>
        <mat-select [(ngModel)]="this.selectedDate">
          <mat-option *ngFor="let dates of this.bookFilterValues.PublishingDates" [value]="dates">
            {{dates}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-mini-fab color="primary" (click)="this.removeFilters()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <div class="centered-container" style="width: 20%; min-height:36px;">
      <button class="filter-apply-btn" (click)="this.applyFilter()">
        Применить фильтр
      </button>
    </div>


  </div>

  <div style="width: 80%; margin-left: auto; margin-right: auto;">
    <section style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top:35px;">
      <article style="flex:1 250px;margin:18px;margin-bottom:35px;max-height:516px;max-width:296px;"
               *ngFor="let book of this.allBooks">

        <div style="height: 80%;">
          <img class="book-image-inside" [src]="this.getImage(book.Image)" [alt]="book.Name"
               (click)="this.goToConcreteBook(book)">
        </div>

        <div style="display: flex; flex-direction: row; margin-top: 10px;">

          <div style="font-size:20px; color: #f34a57;">
            {{book.Price}}
          </div>

          <div style="font-size:20px; color: #f34a57; margin-left: 5px;">
            ₽
          </div>
        </div>

        <div class="book-description" (click)="this.goToConcreteBook(book)">
          <div class="book-name book-hide-text-with-dots">
            {{book.Name}}
          </div>

          <div class="book-author book-hide-text-with-dots">
            {{book.Author}}
          </div>
        </div>

        <div style="display:flex; width:100%;">
          <button class="book-action-btns" (click)="this.buyBook(book)">Купить</button>
        </div>

      </article>
    </section>
  </div>
</div>

<div *ngIf="this.isBookSelected && this.isNotLoading()">
  <div>
    <div style="" (click)="this.goBack()">
      <- Назад
    </div>
  </div>
  <book-concrete [book]="this.selectedBook"></book-concrete>
</div>
